@import "../../styles/variables";

.card {
  height: 100%;

  .card-content {
    padding: 25px 25px 20px 25px;
  }

  .article-date {
    margin-bottom: 24px;
    font-size: 14px;

    &::before {
      content: "";
      background-image: url("../../assets/icon/akar-icons_calendar.png");
      background-repeat: no-repeat;
      margin: 0 8px 0 0;
      width: 16px;
      height: 16px;
      display: inline-block;
    }
  }

  .article-description {
    display: inline-block;
  }
.link-action{
  display: block;
  margin-top: auto;
  padding: 0px 25px 25px 25px;
}

  .link {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;

    color: $primaryTextColor;
  }
}
