.card {
  .card-content {
    padding: 25px;
  }

  .article-date {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 150%;
    color: #363636;

    &::before {
      content: "";
      background-image: url("../../assets/icon/akar-icons_calendar.png");
      background-repeat: no-repeat;
      margin: 0 8px 0 0;
      width: 16px;
      height: 16px;
      display: inline-block;
    }
  }
}
