@import "../../styles/variables";

.card {
  .card-content {
    padding: 25px;
  }

  .article-date {
    margin-bottom: 24px;
    font-size: 14px;

    &::before {
      content: "";
      background-image: url("../../assets/icon/akar-icons_calendar.png");
      background-repeat: no-repeat;
      margin: 0 8px 0 0;
      width: 16px;
      height: 16px;
      display: inline-block;
    }
  }

  .article-description {
    display: inline-block;
  }

  .link {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    margin-top: auto;
    color: $primaryTextColor;
  }
}
